@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h2>Info</h2>
    <ul>
        <li>Sample pages using ASP.NET Core Razor Pages</li>
        <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
    </ul>

    <h2>Adapters</h2>
    <div id="result"></div>

    <div id="msg"></div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<div id="spoiler">
            <h3>Edit</h3>
            <form class="my-form">
                <input type="hidden" id="edit-id">
                <input type="checkbox" id="edit-isComplete">
                <input type="text" id="edit-name">
                <input type="submit" value="Save">
                <a onclick="closeInput()" aria-label="Close">&#10006;</a>
            </form>
        </div>*@

</div>

<script>

    $(document).ready(function () {
        $.ajax({
            url: "/api/adapter/list",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data.forEach(function (element) {
                    var divId = `adapter${element.id}`.replace("{", "-").replace("}", "-");
                    $("#result").append(`<h4 id="${divId}" ><b>${element.name}</b> <i>${element.description}</i> <b>${element.id}</b></h4><ul id="${divId}ul"></ul>`);

                    // get IPs
                    $.ajax({
                        url: `/api/adapter/${element.id}/addresses`,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            data.forEach(function (addressElement) {
                                $(`#${divId}ul`).append(`<li>${addressElement}</li>`);
                                // get IPs
                            });
                        },
                        error: function () { $("#msg").append("<p>Error while calling GetAdapterAddresses Web API!<<p>>"); }
                    });

                });
            },
            error: function () { $("#msg").append("<p>Error while calling GetAdapterList Web API!</p>"); }
        });
    });


</script>

