@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">

    <h2>Adapters</h2>
    <div id="result"></div>

</div>
<div id="msg"></div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function addIpClick(adapterId, formId) {
        $.ajax({
            url: `/api/adapter/${adapterId}/add`,
            type: "POST",
            data: $(`#${formId}`).serialize(),
            dataType: "json",
            success: function (data) {
                RefreshAdapters();
            },
            error: function () {
                RefreshAdapters();
            }
        });
    }

    function RefreshAdapters() {
        $("#result").html("loading...");

        $.ajax({
            url: "/api/adapter/all",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data.forEach(function (element) {
                    var divId = `adapter${element.id}`.replace("{", "-").replace("}", "-");
                    //$("#result").html("");
                    $("#result")
                        .append(`<br/>
                        <p style="margin-bottom:40px">
                            <h4><b>${element.name}</b> <i>${element.description}</i> <b>${element.id}</b></h4>
                            <ul id="${divId}" style="float:left;width:200px;"></ul>
                            <form action="/api/adapter/${element.id}/add" style="float:left;" method="POST" id="${divId}form">
                                <input type="text" value="192.168.3.123" name="IpAddress" id="${divId}ip"/> 
                                <a href="javascript:addIpClick( '${element.id}', '${divId}form'); "> Add </a>
                            </div>
                        </p>`)
                        ;

                    // get IpAddresses
                    $.ajax({
                        url: `/api/adapter/${element.id}/all`,
                        type: "GET",
                        dataType: "json",
                        success: function (data) {
                            data.forEach(function (addressElement) {
                                $(`#${divId}`).append(`<li>${addressElement}</li>`);
                            });
                        },
                        error: function () { $("#msg").append("<p>Error while calling GetAdapterAddresses Web API!<<p>>"); }
                    });

                });
            },
            error: function () { $("#msg").append("<p>Error while calling GetAdapterList Web API!</p>"); }
        });
    }

    $(document).ready(function () {
        RefreshAdapters();
    });

</script>

